gallery.example.com {
    encode zstd gzip

    handle_path /static/* {
        root * /opt/clever/app/staticfiles
        file_server
    }

    handle_path /media/* {
        root * /opt/clever/app/media
        file_server
    }

    reverse_proxy 127.0.0.1:8000
}
